<div class="jumbotron jumbotron-fluid mt-5">
  <div class="container col-6">
    <span class="p-2 bg-light">
    <h3 class="display-4" class="p-2 bg-light border"><%= @list.name %></h3>
    <% if @list.photo.attached? %>
      <%= cl_image_tag @list.photo.key, height: 600, width: 700, crop: :fill %>
    <% else %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg" %>
    <% end %>
    <hr class="my-4">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card">
      <h5 class="movie-title">Movie Title: <%= bookmark.movie.title %></h5>
      <p class="p-2 bg-light border d-flex justify-content-between">Review: <%= bookmark.comment %>
      <%= link_to bookmark_path(bookmark),
              method: :delete,
              data: { confirm: "Are you sure?" } do %>
              <i class="fas fa-trash-alt"></i>
              <% end %></p></div>
    <% end %>
    <br>
    </span>
    <div class="btn btn-secondary">
      <%= link_to "Back to Lists", lists_path, class: "text-white text-decoration-none"%>
    </div>
    <div class="btn btn-secondary">
      <%= link_to "Create a bookmark", new_list_bookmark_path(@list), class: "text-white text-decoration-none"%>
    </div>
  </div>
</div>
